.FromLeft-enter{
      transform: translateX(-100%);
}
.FromLeft-enter-active{
      transform: translateX(0%);
      transition: transform 500ms ease-in-out;
}
.FromRight-enter{
      transform: translateX(100%);
}
.FromRight-enter-active{
      transform: translateX(0%);
      transition: transform 500ms ease-in-out;
}

.iFromLeft-enter{
      transform: translateX(-100%);
}
.iFromLeft-enter-active{
      transform: translateX(0%);
      transition: transform 500ms ease-in-out;
}
.iFromRight-enter{
      transform: translateX(100%);
}
.iFromRight-enter-active{
      transform: translateX(0%);
      transition: transform 500ms ease-in-out;
}
